@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, sans-serif;
  overflow: hidden;
  overscroll-behavior: none;
  box-sizing: border-box;
  color: var(--colors-text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --zoomed: 2px;
  --zoom: 2px;
  --fonts-ui: 500 12px/14px "Inter", -apple-system, sans-serif;
  --fonts-section: 600 12px/14px "Inter", monospace;
  --fonts-mono: 500 12px/14px "IBM Plex Mono", monospace;
  --colors-left: rgba(29, 144, 255, 1);
  --colors-right: rgba(255, 141, 30, 1);
  --colors-selected: rgba(255, 0, 0, 1);
  --colors-hovered: rgba(255, 0, 0, 0.1);
  --colors-bounds: rgb(0, 106, 255);
  --colors-bounds-bg: rgba(0, 106, 255, 0.05);
}

.light {
  --colors-canvas: rgba(239, 239, 239, 1);
  --colors-panel: rgba(255, 255, 255, 1);
  --colors-section: rgba(251, 250, 250, 1);
  --colors-border: rgba(231, 231, 231, 1);
  --colors-text: rgba(37, 37, 37, 1);
  --colors-soft: rgba(255, 255, 255, 0.62);
  --colors-outline: rgba(0, 0, 0, 1);
  --colors-fill: rgba(0, 0, 0, 1);
}

.dark {
  --colors-canvas: rgba(29, 29, 28, 1);
  --colors-panel: rgba(19, 19, 18, 1);
  --colors-section: rgba(21, 21, 21, 1);
  --colors-border: rgba(0, 0, 0, 1);
  --colors-text: rgba(239, 239, 239, 1);
  --colors-soft: rgba(52, 52, 52, 0.72);
  --colors-muted: rgba(255, 255, 255, 0.62);
  --colors-outline: rgba(231, 231, 231, 1);
  --colors-fill: rgba(255, 255, 255, 1);
}

/* Strokes */

.anchor-handle {
  stroke-width: calc(var(--zoomed) * 4px);
}

.strokewidth-ui {
  stroke-width: calc(var(--zoom) * 2px);
}

.strokewidth-hover {
  stroke-width: calc(var(--zoomed) * 6px);
}

.strokewidth-l {
  stroke-width: calc(var(--zoomed) * 3px);
}

.strokewidth-m {
  stroke-width: calc(var(--zoomed) * 2px);
}

.strokewidth-s {
  stroke-width: calc(var(--zoomed) * 1px);
}

/* Stroke Colors */

.stroke-left {
  stroke: var(--colors-left);
}

.stroke-right {
  stroke: var(--colors-right);
}

.stroke-selected {
  stroke: var(--colors-selected);
}

.stroke-outline {
  stroke: var(--colors-outline);
}

.stroke-guide {
  stroke: var(--colors-guide);
}

.stroke-bounds {
  stroke: var(--colors-bounds);
}

/* Dash Array */

.dash-array-m {
  stroke-dasharray: calc(var(--zoomed) * 1px) calc(var(--zoomed) * 3px);
}

/* Nodes */

.fill-left {
  fill: var(--colors-left);
}

.fill-right {
  fill: var(--colors-right);
}

.fill-flat {
  fill: var(--colors-fill);
}

.fill-soft {
  fill: var(--colors-soft);
}

.fill-bounds-bg {
  fill: var(--colors-bounds-bg);
}

.fill-corner {
  fill: var(--colors-panel);
}

.fill-none {
  fill: none;
}

/* Handles */

.opacity-full {
  opacity: 1;
}

.opacity-m {
  opacity: 0.5;
}

.opacity-s {
  opacity: 0.2;
}

/* Globs */

.fill-hover {
  fill: var(--colors-hovered);
}

/* Events */

.ignore-events {
  pointer-events: none;
}
