@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, sans-serif;
  overflow: hidden;
  overscroll-behavior: none;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --left: dodgerblue;
  --right: orange;
  --select: #ff0000;
  --zoomed: 2px;
  --zoom: 2px;
  --background: #ffffff;
  --text: #2d2d2d;
  --border: rgba(0, 0, 0, 0.15);
  --muted: rgba(0, 0, 0, 0.05);
  --colors-select: #ff0000;
  --colors-outline: rgba(0, 0, 0, 1);
  --colors-fill: rgba(0, 0, 0, 1);
  --colors-soft: rgba(255, 255, 255, 0.72);
  --colors-text: rgba(20, 20, 16, 1);
  --colors-muted: rgba(144, 144, 144, 1);
  --colors-stroke: rgba(0, 0, 0, 1);
  --colors-left: dodgerblue;
  --colors-right: orange;
  --colors-panel: #ffffff;
  --colors-canvas: #f2f2f2;
  --fonts-ui: 500 12px/14px "Inter", -apple-system, sans-serif;
  --fonts-mono: 500 12px/14px "IBM Plex Mono", monospace;
}

.dark {
  --background: #2d2d2d;
  --text: #efefef;
  --muted: rgba(255, 255, 255, 0.07);
}

/* Strokes */

.anchor-handle {
  stroke-width: calc(var(--zoomed) * 4px);
}

.strokewidth-ui {
  stroke-width: calc(var(--zoom) * 2px);
}

.strokewidth-hover {
  stroke-width: calc(var(--zoomed) * 6px);
}

.strokewidth-l {
  stroke-width: calc(var(--zoomed) * 3px);
}

.strokewidth-m {
  stroke-width: calc(var(--zoomed) * 2px);
}

.strokewidth-s {
  stroke-width: calc(var(--zoomed) * 1px);
}

/* Stroke Colors */

.stroke-left {
  stroke: var(--colors-left);
}

.stroke-right {
  stroke: var(--colors-right);
}

.stroke-selected {
  stroke: var(--colors-select);
}

.stroke-outline {
  stroke: var(--colors-outline);
}

.stroke-guide {
  stroke: var(--colors-guide);
}

/* Dash Array */

.dash-array-m {
  stroke-dasharray: calc(var(--zoomed) * 1px) calc(var(--zoomed) * 3px);
}

/* Nodes */

.fill-left {
  fill: var(--colors-left);
}

.fill-right {
  fill: var(--colors-right);
}

.fill-flat {
  fill: var(--colors-fill);
}

.fill-soft {
  fill: var(--colors-soft);
}

.fill-none {
  fill: none;
}

/* Handles */

.opacity-full {
  opacity: 1;
}

.opacity-m {
  opacity: 0.5;
}

.opacity-s {
  opacity: 0.2;
}

/* Events */

.ignore-events {
  pointer-events: none;
}
